<footer class="site-footer navbar-fixed-bottom">
    <div class="text-center">
        2014 &copy; WeiDev V1.0
        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
